<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Choose a start date"
    (dateChange)="updateStart($event)" [value]="start">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Choose an end date"
    [value]="end">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
  </mat-form-field>
  <button (click)="getMonitreeReadings()">BUNGUS</button>
<canvas baseChart width="400" height="400"
[datasets]="lineChartData"
[labels]="tsLabels"
[options]="lineChartOptions"
[legend]="lineChartLegend"
[chartType]="lineChartType"></canvas>
<div style="margin-bottom: 10px; margin-left: 5em;">
  <table class="table table-responsive table-condensed">
    <tr>
      <th class="headcol"></th><td *ngFor="let label of tsLabels">{{label}}</td>
    </tr>
    <tr *ngFor="let d of lineChartData">
      <th class="headcol">{{d.label}}</th><td *ngFor="let label of tsLabels; let j=index">{{d && d.data[j]}}</td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
